* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: var(#d0e7e0) ;
  color:var(#236962);
  color:var( #63b0a8);
  font-family: 'Lobster Two', cursive;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Offside', sans-serif;
}

html,
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

main {
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav-barra {
  background-color: #7dcfcf;
  width: 100%;
  margin: 0;
  padding: 0;
}

.navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.logo {
  font-family: 'Lobster Two', cursive;
  font-size: 2rem;
  color: #355a60;
  text-decoration: none;
}

.navegacion ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-enlace,
.navegacion ul li a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #355a60;
  transition: all 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
}

.nav-enlace:hover,
.navegacion ul li a:hover {
  color: #e7f2f1;
  transform: scale(1.1);
}

.inicio {
  background-color: #e4f3ee;
  width: 100%;
  min-height: 50vh;
  margin: 0;
  padding: 1rem 0 1rem;
  display: flex;
  align-items: flex-start;
}

.inicio-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem;

}

.titulo {
  font-family: 'Offside', sans-serif; 
  font-size: clamp(2rem, 5vw, 3rem);
  color: #236962;
  text-align: left;
  transition: transform 0.3s ease-in-out;
  display: inline-block;
  
}

.titulo:hover {
  transform: scale(1.05);
}

.descripcion {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: clamp(1.2rem, 3vw, 1.8rem);
  color: #63b0a8;
  text-align: left;
  padding: 1rem 0;
  transition: transform 0.3s ease-in-out;
  display: inline-block;
}

.descripcion:hover {
  transform: scale(1.05);
}

.catalogo {
  background-color:#d0e7e0;
  padding: 3rem;
}

.catalogo-titulo {
  font-family: 'Offside', sans-serif;
  font-weight: bolder;
  font-size: clamp(2rem, 5vw, 2.5rem);
  padding: 1rem 1rem 1rem;
  color: #63b0a8;
  display: flex;
  justify-content: center;
  background-color:#e4f3ee;
  border: none;
  border-radius: 1rem;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 3rem;
}

.catalogo-titulo:hover {
  transform: scale(1.05);
}






@media (max-width: 768px) {
  .navegacion {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  .navegacion ul {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .logo {
    font-size: 1.5rem;
  }

  .inicio-content {
    padding: 1rem;
    text-align: center;
  }

  .titulo,
  .descripcion {
    text-align: center;
    padding: 0.5rem 1rem;
  }
}